@font-face {font-family: "iconfont";
  src: url('/src/components/Toast/fonts/iconfont.eot?t=1601555415709'); /* IE9 */
  src: url('/src/components/Toast/fonts/iconfont.eot?t=1601555415709#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAALIAAsAAAAABpwAAAJ7AAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCDBgp4gQQBNgIkAwwLCAAEIAWEbQdCG9YFyC6wbdiTEslkbhiFkD5GAPASD//t9799Zuapp/+TI9599Z9wTwESpCiW8MoiFKpYtnb/d9r+jWlRKPJ8t2Ru1faW6/pJcx3pS3NMzfMohVKotYSCWgBMDUXVtNjE93kup3cNoEDmt6Ic51h41AswDiiwPTHawiWSmLfILuJOXMR5Am3LNI1jh+c+9BVoWiDuchZCvxBWFCPXFOoNa4t4qKaZ7qePwIPo+/GbE32SWobmbl0/SGD72/z7/7zqLCdECPLmGjJ2AIU435g+qSUMVktb3e4urStCmitWVURiX1nHf3gkQdSh6i7YUDKJb6iAxPeld53NcHfCzIFdzOl7Q7S7N8Y+vn2fOM9fbscJ9TEZMZzQq+XPJ8HW9f3+Fr95dePTvRWwnp6u5bOZO6O553rcge4MKVEeDAFA9St/yPPI8Dbj3xyCBoJbj14+ujBY/9NUwOf+3uRg9baAVYKmBFjyoyTAtuLLkCUXV0zFoTfrApwJuaaNCvKP/Y7Xz27GGZoF2Qhvw5KHrGmFLMwdqOk4gLqmg2jb7mhzx4TUEqWFbe4khKEHJH1vkA09koX5g5q5f9QNo4W247G0Z8da8OGexFBhQqJrwmNRUmJTw7jWRbbIQ5mXRewxyprHiG1Y5dwRlijnWFBfMEcpSqgUBTmULsM8F6SSYo6xMlKlqlXTpE03MmJRwNBREgopKEFErhFcTChR3l0ZVj7vQsxCLiQ7KD3RMSTVeP+EzWAByCN1CaLcyzW1C4xDUSiCkoQCcSiNQrmcQFTNo+ZQTDGkI5KVVSbuRKFqY31t8X17oA3tmSNFjmJwJRQ3CxGnWDImaGu3TnkUcgAAAA==') format('woff2'),
  url('/src/components/Toast/fonts/iconfont.woff?t=1601555415709') format('woff'),
  url('/src/components/Toast/fonts/iconfont.ttf?t=1601555415709') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('/src/components/Toast/fonts/iconfont.svg?t=1601555415709#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-caozuochenggong:before {
  content: "\e7f8";
  font-size: 12.8vw;
  color: #00AC5A;
}

.icon-shibai:before {
  content: "\e616";
  font-size: 12.8vw;
  color: #EF364E;
}

