.signUp {
  box-sizing: border-box;
  height: calc(100vh);
  padding: 4vw 12vw 0 12vw;
  .s-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    .header-back {
      width: 9.6vw;
      height: 2.91vw;
      & img {
        width: 100%;
        height: 100%;
      }
    }
    .header-info {
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 15.73vw;
      padding: 0 12.26vw;
      .info-logo {
        width: 4.8vw;
        height: 5.33vw;
        & img {
          width: 100%;
          height: 100%;
        }
      }
      .info-title {
        display: flex;
        flex-direction: column;
        & span {
          font-size: 9.6vw;
          color: #ffffff;
          text-align: center;
        }
        & span:first-child {
          margin-top: 4vw;
        }

      }
      .info-brief {
        margin-top: 3.46vw;
        text-align: center;
        & span {
          font-size: 4.26vw;
          color: #ffffff;
          opacity: 60%;
          text-align: center;
        }
      }

    }
  }
  .s-middle {
    display: flex;
    flex-direction: column;
    align-items: center;
    .middle-form {
      box-sizing: border-box;
      margin-top: 8vw;
      & form {
        display: flex;
        flex-direction: column;
        align-items: center; 
        .form-item {
          box-sizing: border-box;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 76vw;
          height: 8vw;
          margin-top: 6vw;
          background-color: #000000;
          .item-title {
            width: 20vw;
            height: 8vw;
            line-height: 8vw;
            text-align: end;
            margin-right: 2vw;
            font-size: 3.4vw;
            color: #ffffff;
            opacity: 60%;
          }
          & input {
            flex: 1;
            height: 100%;
            align-self: flex-end;
            padding: 0 1.5vw;
            border: none; 
            border-bottom: 0.3vw solid rgba(255,255,255,.5);
            outline: none;
            font-size: 3.4vw;
            background-color: #ffffff;
            color: #000000;
          }
          & button {
            height: 8vw;
            width: 20vw;
            margin-right: 2vw;
            border: none;
            outline: none;
            border-radius: 1.6vw;
            background-color: rgb(61, 129, 211);
            font-size: 2.7vw;
            font-weight: 400;
            color: #ffffff;
          }
          .button-disabled {
            height: 8vw;
            width: 20vw;
            margin-right: 2vw;
            border: none;
            outline: none;
            border-radius: 1.6vw;
            background-color: rgb(61, 129, 211);
            font-size: 2.7vw;
            font-weight: 400;
            color: #ffffff;
            opacity: 0.5;
          }
          .captcha-text {
            width: 7vw;
          }
        } 
        .form-button {
          width: 76vw;
          height: 12.8vw;
          margin-top: 8vw;
          & button {
            width: 100%;
            height: 100%;
            background-color: #3B5998;
            font-size: 4.8vw;
            color: #ffffff;
            border: none;
            outline: none;
            border-radius: 1.6vw;
          }
    
        }
      }
    }
   
  }
  .s-loading {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}