#root {
  height: calc(100vh);
  background-color: #000000
}

#root > div:first-child {
  height: calc(100vh);
  background-color: #000000
}
.fade-enter {
  opacity: 0;
  transform: translateX(100%);
}

.fade-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: all 1000ms;
}

.fade-exit {
  opacity: 1;
  transform: translateX(0);
}

.fade-exit-active {
  opacity: 0;
  transform: translateX(-100%);
  transition: all 1000ms;
}
.fade-exit-done {
  opacity: 0;
  transform: translateX(-100%);
}
